/* Gradient animations CSS */
@keyframes moveInCircle {
    0% {
      transform: rotate(0deg);
    }
  
    50% {
      transform: rotate(180deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes moveVertical {
    0% {
      transform: translateY(-50%);
    }
  
    50% {
      transform: translateY(50%);
    }
  
    100% {
      transform: translateY(-50%);
    }
  }
  
  @keyframes moveHorizontal {
    0% {
      transform: translateX(-50%) translateY(-10%);
    }
  
    50% {
      transform: translateX(50%) translateY(10%);
    }
  
    100% {
      transform: translateX(-50%) translateY(-10%);
    }
  }
  
  /* Custom scrollbar styles */
  ::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
  }