.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-content-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.main-content-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.fade {
  opacity: 0;
  transition: opacity 0.8s ease;
}

.fade.show {
  opacity: 1;
}
